.main-chat
  .main-chat__group-info
    .main-chat__left-box
      %h2.current-group
        test
      %ul.member-list
        Member：
        %li.main-chat__left-box__member-list__member
          masa
    .group_edit
      = link_to edit_group_path(current_user) do
        %input{type: "submit", class: "group-edit", value: "Edit"}

  .messages
    .upper-info
      %p.user-name
        masa
      %p.date
        2019/11/20(Wed) 17:43:01
    .lower
      おはよう!

    .upper-info
      %p.user-name
        masa
      %p.date
        2019/11/20(Wed) 17:43:34
    .lower
      今日は夜から雨

  .form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn", value: "Send"}