.side-chat
  .side-chat__side-header
    .side-chat__side-box
      .side-box__username masa
      .side-box__menu
        .side-box_btn
          = link_to "#", class: "new-group" do
            = icon('fas', 'edit')
          = link_to "#", class: "edit-account" do
            = icon('fas', 'cog')
  .side-chat__group-list
    .side-chat__groups
    .side-chat__group-name techcamp
    .side-chat__latest-message まだメッセージがありません